<% layout('layouts/boilerplate') %>

<h1>All Card Stores</h1>
<div>
<a href="/stores/new">Add A New Store</a>
</div>
<ul>
    <% for (let store of stores) { %>
        <li><a href="stores/<%= store._id %>"><%= store.title %></a></li>
    <% } %>
</ul>