<% layout('layouts/boilerplate') %>
<h1><%= store.title %></h1>
<h2><%= store.location %></h2>
<p><a href="/stores/<%= store._id %>/edit">Edit</a></p>

<form action="/stores/<%= store._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>

<footer>
    <a href="/stores">All Card Stores</a>
</footer>