<% layout('layouts/boilerplate') %>

<h1>Cookies Policies</h1>
<h3>Last update: September 8, 2022</h3>
<hr>
<p>This website uses cookies, sessions, and other technologies (collectively called "cookies") to recognize your browser or device for:</p>
<p>&emsp;- Storing login information to recognize users</p>
