<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/home.css">
<main class="px-3">
    <h1>Welcome to CardYelp!</h1>
    <br>
    <p>This is your all-in-one stop for card game tournaments. Post your tournament or make comments on stores now!</p>
    <a href="/stores" class="btn btn-lg btn-secondary bg-white">All Stores</a>
</main>