<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/home.css">
<main class="px-3">
    <h1>Welcome to CardYelp!</h1>
    <br>
    <p>This is your all-in-one stop for card game tournaments. Post your tournament or make comments on card shops now!</p>
    <a href="/stores" class="btn btn-lg btn-secondary bg-white">All Shops</a>
    <hr>
    <p>* This site uses cookies to ensure your best browsing experience. Keep using this website indicates your consent. Learn more about cookies used on this website <a href="/cookies" style="color: #8ebf44">here</a>.</p>
    <p>** We are migrating to Auth0 to provide you with better account management experience. This requires your re-registration. We're very sorry for any inconvenience.</p>
    <p>Version: v0.9.2 Alpha</p>
</main>